@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pixelify+Sans:wght@400..700&display=swap');

@import "tailwindcss";


@theme {
  --color-surface: #15151B;
  --color-card: black;

  --color-primary: #00a6ff;
  --color-primary-hover: #7647ff;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --color-border: #958cc2;

  --color-text: #F8FAFC;
  --color-text-secondary: #94A3B8;
  --color-text-muted: #93a4bd;

  --font-mono: "IBM Plex Mono", monospace;
  --font-base: "Pixelify Sans", sans-serif;;
}

.react-calendar-heatmap rect.color-empty {
  fill: #1f2937 !important;
}

.react-calendar-heatmap rect.color-scale-1 {
  fill: #4f46e5 !important;
}

.react-calendar-heatmap rect.color-scale-2 {
  fill: #6366f1 !important;
}

.react-calendar-heatmap rect.color-scale-3 {
  fill: #7c3aed !important;
}

.react-calendar-heatmap rect.color-scale-4 {
  fill: #8b5cf6 !important;
}

@utility dot-grid {
  /* Radial gradient for the background color shift (center to edges) */
  background-image: 
    radial-gradient(circle at center, black 0%, black 100%),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  
  /* Size of the grid cells */
  background-size: 100%, 24px 24px;
  
  /* Blend them together (optional, depending on your colors) */
  background-blend-mode: overlay;
  
  /* Ensures it covers the entire viewport */
  width: 100vw;
  height: 100vh;
}

.bg-hero {
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
}

.metallic-text {
  font-size: 4rem;
  font-weight: 900;
  background: linear-gradient(
    90deg,
    #a8c0ff 0%,
    #2b6696 25%,
    #a8c0ff 50%,
    #2b5696 75%,
    #a8c0ff 100%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}